{
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: lavenderblush;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
  width: 100%;
  height: 30px; /* only for demonstration, should be removed */
  background: lightblue;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 10px;
  width: 700;
  background-color: #fff;
  height: 300px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: lavenderblush;
  padding: 10px;
  text-align: center;
  color: black;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
    div {
        margin-top:70px;
    }
    
a#trans { background: #fff; color: #aa0000; padding: 3px; -webkit-transition: all 1s linear; }
    a#trans:hover { background: #220077; color: #fff; }
    #trans-nav { list-style-type: none; height: 40px; padding: 0; margin: 0; }
    #trans-nav li { float: center; position: relative; padding: 0; line-height: 40px; background: lightblue url(nav-bg.png) repeat-x 0 0; }
    #trans-nav li:hover { background-position: 0 -40px; }
    #trans-nav li a { display: block; padding: 0 15px; color: #fff; text-decoration: none; }
    #trans-nav li a:hover { color: pink; }
    #trans-nav li ul { opacity: 0; position: absolute; left: 0; width: 8em; background: #f3e6ff; list-style-type: none; padding: 0; margin: 0; }
    #trans-nav li:hover ul { opacity: 1; }
    #trans-nav li ul li { float: none; position: static; height: 0; line-height: 0; background: none; }
    #trans-nav li:hover ul li { height: 30px; line-height: 30px; }
    #trans-nav li ul li a { background: lightblue;}
    #trans-nav li ul li a:hover { background: #5a8078; }
    #trans-nav li { -webkit-transition: all 0.2s; }
    #trans-nav li a { -webkit-transition: all 0.5s; }
    #trans-nav li ul { -webkit-transition: all 1s; }
    #trans-nav li ul li { -webkit-transition: height 0.5s; }
    nav {
        background-color: lightblue;
    }
      ul li {
        text-align: vertical;
          display: inline-block;
    }
    h1 {
        font-family: cursive;
        color: lightblue;
    }
span {
    margin-left: 4%;
}